<!DOCTYPE html>

<html>
  <head>
    <title>Maintainance</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>We'll be right back</h1>
    <p>Sorry the website is in maintenance</p>
  </body>
</html>

